**/results/
**/data/
*/figs_ESN


# python checkpoints
.ipynb_checkpoints
**/*/.ipynb_checkpoints
.idea
src.egg-info/
.pytest_cache/

.DS_Store
**/.DS_Store
test_output.txt


**/*/ESN_case*

*.egg*
test_out*

__pycache__
**/__pycache__

**/build/*

**/saved_configs/
**/esn_configs/
src/bias_estimators/updates.md

deprecated/

.venv/
site/
docs/tutorials/

/tmp/

C*.md
*.log
*nohup*
dev/ESN-DA/figs/*.npz
dev/ESN-DA/figs/*.pdf
*.fdb_latexmk
*.fls
*.synctex.gz
*.aux
*.bbl
*.blg
*.nlo
*.out
*.spl
*.toc