matplotlib~=3.8.0
scipy~=1.10
numpy~=1.26.1
h5py~=3.7.0
scikit-optimize~=0.9.0
tqdm~=4.66.2
seaborn~=0.13.2
tabulate
pyts~=0.12.0
numba~=0.60.0
multiprocess~=0.70.17
# Additional requrements for the tutorials
jupyter
tabulate
PyQt5
modulo-vki